body{
    width: 98vw;
    height: 93vh;
    margin: 0;
}
header, main{
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
img{
    width: 200px;
}
button{
    width: 80px;
    height: 30px;
    margin-top: 10px;
}